.custom-collapse-component {
    background-color: rgba(73, 147, 203, 0.1);
    border-radius: 8px;
    padding: 10px;

    .intro {
        height: 30px;
        line-height: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .arrow {
            cursor: pointer;
        }
    }

    .reference {
        margin-top: 5px;
        padding-left: 28px;
        

        .reference-item {
            line-height: 20px;
            font-size: 12px;
        }
    }

    .think {
        margin-top: 5px;
        padding-left: 28px;
        font-size: 12px;
        color: #666;

        img {
            width: 96%;
        }
    }
}