.home-page {
    width: 850px;
    margin: 0 auto;

    .content {
        .home-logo {
            width: 350px;
            margin-top: 130px;
            margin-left: auto;
            margin-right: auto;

            img {
                width: 100%;
            }
        }

        .home-input {
            margin-top: 50px;
            // height: 150px;
            padding: 15px;
            border: 1px solid #e2e2e2;
            border-radius: 10px;
            background-color: #fff;
            position: relative;

            input {
                border: none;
                font-size: 20px;

                &::placeholder {
                    font-size: 20px;
                }
            }

            .pic-box {
                padding: 15px 16px 12px;
                margin-right: 10px;
                display: flex;

                .img-wrap {
                    height: 120px;
                    position: relative;
                    // border: 1px solid #e5e5e5;
                    border-radius: 5px;
                    margin-right: 10px;

                    .img-close {
                        position: absolute;
                        right: -5px;
                        top: -5px;
                    }

                    img {
                        height: 100%;
                    }
                }
            }

            .guess-ask-box {
                display: flex;
                font-size: 12px;
                padding-left: 15px;

                .text1 {
                    margin-right: 5px;
                }

                .text2 {
                    margin-right: 10px;
                    color: #318CFF;
                    cursor: pointer;
                }
            }

            .btns {
                position: relative;
                // bottom: -45px;
                display: flex;
                justify-content: flex-end;

                .image-upload {
                    cursor: pointer;
                    padding: 3px 3px 0px 3px;
                    border-radius: 2px;
                    margin-right: 10px;
                    // background-color: rgba(73, 147, 203, 0.1);
                    
                    // &:hover {
                    //     background-color: rgba(73, 147, 203, 0.1);
                    // }
                }

                .btn-send {
                    cursor: pointer;
                    padding: 5px 5px 0px 5px;
                    border-radius: 5px;
                    // background-color: rgba(73, 147, 203, 0.1);
                    
                    &:hover {
                        background-color: rgba(73, 147, 203, 0.1);
                    }
                }
            }
        }
    }
}