.home-page {
    width: 850px;
    margin: 0 auto;

    .content {
        .home-logo {
            width: 300px;
            margin-top: 80px;
            margin-left: auto;
            margin-right: auto;

            img {
                width: 100%;
            }
        }

        .home-input {
            margin-top: 20px;
            height: 150px;
            padding: 15px;
            border: 1px solid #e2e2e2;
            border-radius: 10px;
            background-color: #fff;
            position: relative;

            input {
                border: none;
                font-size: 20px;

                &::placeholder {
                    font-size: 20px;
                }
            }

            .btns {
                position: relative;
                bottom: -45px;
                display: flex;
                justify-content: flex-end;

                .image-upload {
                    cursor: pointer;
                    padding: 3px 3px 0px 3px;
                    border-radius: 2px;
                    margin-right: 10px;
                    // background-color: rgba(73, 147, 203, 0.1);
                    
                    // &:hover {
                    //     background-color: rgba(73, 147, 203, 0.1);
                    // }
                }

                .btn-send {
                    cursor: pointer;
                    padding: 3px 3px 0px 3px;
                    border-radius: 2px;
                    background-color: rgba(73, 147, 203, 0.1);
                    
                    // &:hover {
                    //     background-color: rgba(73, 147, 203, 0.1);
                    // }
                }
            }
        }
    }
}